h1,
h2 {
	text-align: center;
}

h4 {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	display: block;
	color: white;
	text-decoration: none;
}

#sketch-holder {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow-x: hidden;
}

#content {
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	height: 100%;

	z-index: 1;
	overflow-y: auto;
}
/* TOP CONTAINER  */
#top-container {
	box-sizing: border-box;
	height: 93%;
	width: 100%;
	padding: 3%;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	background-color: rgba(4, 255, 130, 0);
}
#top-container-left {
	height: 40%;
	width: 30%;
	min-width: 300px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	color: white;
	font-size: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}
#name {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#contact-button {
	padding: 0.5em 1em;
	display: inline-block;
	border-radius: 5px;
	background-color: white;
	color: rgb(4, 30, 69);
	font-size: medium;
	text-decoration: none;
	cursor: pointer;
}
#contact-button:hover {
	box-shadow: 0 4px 8px 0 rgba(221, 221, 221, 0.2),
		0 6px 20px 0 rgba(212, 212, 212, 0.19);
}

#top-container-right {
	height: 100%;
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	color: white;
	text-align: justify;
	font-size: 1.25em;
	line-height: 2em;
}

/* MID CONTAINER  */
#mid-container {
	box-sizing: border-box;
	min-height: 70%;
	width: 100%;
	/* margin: 5% 0; */
	padding: 4% 3%;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	background-color: rgb(245, 245, 245);
}
#mid-container-left {
	height: 100%;
	width: 40%;
	color: rgb(0, 0, 0);
}

.mid-container-text {
	padding: 5%;
	color: rgb(0, 0, 0);
	text-align: justify;
	font-size: x-large;
	line-height: 1.5em;
}

#mid-container-right {
	height: 100%;
	width: 50%;
}
#mid-container-right-content {
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.mid-container-right-box {
	height: 50%;
	width: 32%;
}

/* BOTTOM CONTAINER  */
#bottom-container {
	box-sizing: border-box;
	height: 110%;
	width: 100%;
	padding: 5% 3%;
	/* margin: 5% 0; */

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: rgba(4, 30, 69, 1);
}

#bottom-container-left {
	height: 100%;
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	/* background-color: rgba(23, 248, 15, 0.164); */
}
#bottom-container-right {
	height: 100%;
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	/* background-color: rgba(251, 1, 1, 0.205); */
}

/* FOOTER CONTAINER  */
#footer-container {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	padding: 3% 2%;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	font-size: large;
	text-align: justify;
	/* background-color: rgba(145, 194, 10, 0.89); */
}
#footer-container-left {
	height: 100%;
	width: 28%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* background-color: rgba(251, 1, 1, 0.205); */
}

#footer-container-left a {
	font-size: x-large;
	line-height: 35px;
}
#footer-container-left a:hover {
	text-decoration: underline;
}

#footer-container-right {
	height: 100%;
	width: 28%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-container-description {
	box-sizing: border-box;
	height: 50%;
	width: 80%;
	padding: 3% 5%;
	border: 1px solid white;
	border-radius: 7px;

	color: white;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
}
