.card {
	width: 50ch;
	padding: 6rem 0 0;
	background-size: cover;
	border-radius: 6px;
	overflow: hidden;

	transition: transform 500ms ease;
}
.card:hover,
.card:focus-within {
	transform: scale(1.05);
}

.card-content {
	padding: 1.5rem;
	background: linear-gradient(
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.5) 20%,
		rgba(0, 0, 0, 0.7) 35%,
		rgba(0, 0, 0, 0.9)
	);
}

.card-title {
	width: max-content;
	padding-bottom: 3px;
	position: relative;
	color: white;
}

.card-title::after {
	content: "";
	height: 3px;
	width: 100%;
	left: 0;
	bottom: 0;
	position: absolute;

	background: white;

	transform-origin: left;
	transition: transform 500ms ease;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
	transform: scaleX(1);
}

.card-body {
	color: rgb(255, 255, 255, 0.9);
	text-align: justify;
}
.card-stacks {
	color: rgb(255, 255, 255, 0.9);
	font-style: italic;
}

.card-button {
	padding: 0.5em 1.25em;
	display: inline-block;
	border-radius: 5px;
	background-color: white;
	color: rgb(4, 30, 69);
	text-decoration: none;
	cursor: pointer;
}
.card-button:hover,
.card-button:focus {
	box-shadow: 0 4px 8px 0 rgba(221, 221, 221, 0.2),
		0 6px 20px 0 rgba(212, 212, 212, 0.19);
}

@media (hover) {
	.card-content {
		transform: translateY(65%);
		transition: transform 500ms ease;
	}

	.card:hover .card-content,
	.card:focus-within .card-content {
		transform: translateY(0);
		transition-delay: 500ms;
	}

	.card:focus-within .card-content {
		transition-duration: 0ms;
	}

	.card-content > *:not(.card-title) {
		opacity: 0;
		transition: opacity 500ms linear;
	}
	.card:hover .card-content > *:not(.card-title),
	.card:focus-within .card-content > *:not(.card-title) {
		opacity: 1;
		transition-delay: 700ms;
	}

	.card-title::after {
		transform: scaleX(0);
	}
}
